<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manager">
  <select id="login" resultType="managerVo">
    	select mNo,mName,mId,empNo,auth,dept dcode,
    	(select DTL_C_NM from CMCDDTLM c where c.GRP_C='division' and c.DTL_C=dept) dept,
    	(select DTL_C_NM from CMCDDTLM c1 where c1.GRP_C='position' and c1.DTL_C=position) position
    	from manager where mId = #{mId} and pwd = SHA2(#{pwd},256)
  </select>
  <insert id="insert">
  	insert into manager (mName,mId,empNo,dept,position,pwd,auth) values(#{mName},#{mId},#{empNo},#{dept},#{position},SHA2(#{pwd},256),#{auth})
  </insert>
  <delete id="delete">
  	delete from manager where empNo=#{empNo}
  </delete>
  <update id="update">
  	update manager set dept=#{division},position=#{position},auth=#{auth} where empNo=#{empNo}
  </update>
  <update id="updatePwd">
  	update manager set pwd=#{newPwd} where mId=#{mId} and pwd=#{pwd}
  </update>
  <select id="selectId" resultType="String">
  	select mId from manager where auth='1' and empno not in('root')
  </select>
</mapper>